<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devoir_maison">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnnonceDesposee"
            android:label="@string/visualiserBien"/>
        <activity android:name=".Apropos"
            android:label="A propos"/>
        <activity android:name=".Favoriss"
            android:label="@string/favoris"/>
        <activity android:name=".DeposerAnnonce"
            android:label="@string/depot"/>
        <activity android:name=".HasardAnnonces"
            android:label="@string/Hasard"/>
        <activity android:name=".OneAnnonces"
            android:label="Détails Annonce"/>
        <activity android:name=".ListeAnnonces"
            android:label="@string/liste"/>
        <activity android:name=".MainActivity"
            android:label="@string/Accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Annonce"
            android:label="@string/title_activity_annonce" />
    </application>

</manifest>